<div class="container">
    <h1>Students Detail</h1>
<div class="row">
    <div class="col-md-2 std-list" >Id</div>
    <div class="col-md-2 std-list">First Name</div>
    <div class="col-md-2 std-list">Last Name</div>
    <div class="col-md-2 std-list">Email</div>
    <div class="col-md-2 std-list">Edit</div>
    <div class="col-md-2 std-list">Delete</div>
</div>

<div class="row" *ngFor="let std of student">
        <div class="col-md-2 std-list">{{std.sId}}</div>
        <div class="col-md-2 std-list">{{std.fname}}</div>
        <div class="col-md-2 std-list">{{std.lname}}</div>
        <div class="col-md-2 std-list" >{{std.email}}</div>
        <div class="col-md-2 std-list"><button href="" class="btn btn-success" (click)="edit(std)">Edit</button></div>
        <div class="col-md-2 std-list"><button href="" class="btn btn-danger" (click)="delete(std)">Delete</button></div>
    </div>
    <div>
        <a routerLink="/add" class="btn btn-primary">Add student</a>
    </div>  
 
</div>  

    
    